<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type =text/css href="https://fonts.googleapis.com/css?family=Open+Sans:300">
</head>
<body>
    <div class="container">
        <fieldset>
            <form action="/" method="post">
                <input name ="city" class="city-input" type="text" placeholder="Enter a City" required>
                <input type="submit" class="city-submit-button" value="Get Weather">
            </form>

            <% if(weather !== null) {%>
                <p><%= weather %></p>
            <% } %>
            <% if (error !== null) {%>
                <p><%= error %></p>
            <% } %>
        </fieldset>
    </div>
</body>
</html>